body{
      
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#page-heading{
    text-align: center;  
    margin-top: 25px;
    color: grey;
}

ul{
    padding: 0 !important;
}

li{
    list-style: none;
    background-color:rgb(37%, 54%, 98%);
    color: white;
    margin-top: 5px;
    width: 35%;
    min-width: 400px;
}

li:hover{
    background-color: grey;
    transition: ease-in 0.3s;
}

.contact{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
    padding: 10px;
}

#name{
    text-align: justify;
    margin-left: 5px;
}

#phone{
    text-align: justify;
     margin-left: 60%;
}

.add-btn{
    color: white;
    background-color:grey;
    padding: 3px;
    width: 60px;
    border: none;
}

input{
    border: none;
    width: 15%;
    min-width:160px;
    border-bottom: 1px solid darkgray;
    margin-right: 5px;
}

input:focus{
    outline: none;
}

form{
    padding-top: 10px;
    text-align: center;  
}

.delete-button{
    padding: 10px;
}

.red{
    background-color: red;
    color: white;
}

.each{
    display: flex;
    justify-content: center;
}
